#cart_main{
    width: 90%;
    margin: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 10vh;
    margin-top: 30vh;
}
#cart_main > h3{
    text-align: center;
}
#cart_main>h2{
    font-size: 60px;
    text-align: center;
    color:purple;
}

#cart-items{
    width: 60%;
}
#cart-items > h3{
    text-align: center;
    font-size: 30px;
    color:red;
}








.cart-product-image-title{
    display: flex;
    margin-top: 10px;
    padding: 10px;
    
}
.cart-product-image{
    width: 50%;
}
.cart-product-image > img{
    width: 150%;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.cart-product-title{
    padding: 5px;
    margin-left: 100px;
    margin-top: -35px;
}
.cart-table-data{
    align-content: flex-start;
    text-align: center;
    vertical-align: top;
    padding-top: 15px;
   
}
.cart-table-data > select{
    cursor: pointer;
}
#delete-cart-product{
    cursor: pointer;
    border: none;
    border-radius: 10px;
    background-color: red;
    font-size: 14px;
    color: white;
    /*margin-left: -5px;*/
    width: 30%;
    padding: 5px;
}
#cart-and-summary{
    margin-top: 5vh;
    display: flex;
    justify-content: space-between;
}
#summary{
    width: 35%;
    /*border: 1px solid black;*/
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 20px;
    height: max-content;
    background-color: aqua;
}
#summary>h1{
    text-align: center;
    color:#80DEEA;
    font-size: 40px;
}
#summary > img{
    width: 170px;
    height: 70px;
    margin-left: 33%;
    margin-bottom: 30px;
   
   
}
#summary > a{
    font-size: 32px;
    text-decoration: none;
    color: skyblue;
}
.order-summary{
    display: flex;
    margin-top: 30px;
}
.order-summary-heading, .order-summary-pricing{
    line-height: 10px;
}
.order-summary-heading{
    width: 85%;
}
.order-summary-heading>p{
   font-size: 20px;
}
.order-summary-pricing{
    width: 15%;
    text-align: right;
    font-size: 20px;
}
.order-summary-pricing>hr{
   
    font-size: 20px;
}


#checkout-button{
    display: block;
    margin: auto;
    width: 80%;
    border: none;
    border-radius: 10px;
    background-color: #333;
    color: white;
    padding: 15px;
    cursor: pointer;
    margin-top: 60px;
    margin-bottom: 30px;
    font-size: 25px;
}


#cart-container{
    /* border: 2px solid red; */
    display: grid;
    grid-template-columns:20% 20% 20% 20% ;
    grid-gap: 20px;
}


#cart-container>div{
    /* border: 2px solid red; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 10px;
  }
  #cart-container>div>img{
    height: 200px;
    width: 100%;

  }
  #cart-container>div>button{
     /* display: block;
     margin: auto; */
     background-color: rgb(81, 201, 245);
     color: white;
     padding: 5px;
     border: none;
     border-radius: 3px;
     margin: 10px;

  }


  
@media only screen and (max-width: 1150px){
    #cart-and-summary{
        flex-direction: column-reverse;
    }
    #cart-items, #summary{
        width: 90%;
        margin: auto;
    }
}