*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    /* overflow: hidden; */
}
.noshow{
    display: none;
}

.wave{
	position: fixed;
	height: 100%;
	z-index: -1;
}
.left{
	bottom: 0;
	left: 0;
}
.right{
	transform: rotate(90deg);
	top:80px;
	left: 75%;
}
.container.show{
	display: grid;
}

.container{
    width: 100vw;
    height: 100vh;
    grid-template-columns: repeat(2, 1fr);
    grid-gap :7rem;
    padding: 0 2rem;
}
.img img{
	width: 400px;
}
#logo{
    position: absolute;
    width: 150px;
    left: 20%;
    border-radius: 20px;
    transform: rotate(-7deg)
    
}
.img{
	display: flex;
	justify-content: center;
	align-items: center;
}
.show{
	display: flex;
}
.main-container{
	position: fixed;
	overflow: hidden;
	z-index: 1000;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	height: 100vh;
	width: 100vw;
	margin: auto;
	align-items: center;
	justify-content: center;
	background:transparent;
	backdrop-filter: blur(15px)	;
  }
  :where(.container, #otp, .input-field) {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
  }
  .otp-container {
	width: 40%;
	height: 60%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: #fff;
	padding: 30px 65px;
	border-radius: 12px;
	row-gap: 20px;
	border: 3px solid gold;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  }
  .otp-container h4 {
	font-size: 1.5rem;
	color: #333;
	font-weight: bolder;
	text-align: center;
  }
  #otp .input-field {
	flex-direction: row;
	column-gap: 10px;
  }
  .input-field input {
	height: 45px;
	width: 42px;
	border-radius: 10px;
	outline: none;
	font-size: 1.3rem;
	text-align: center;
	border: 1px solid #d7d7d7;
  }
  .input-field input:focus {
	box-shadow: 0px 0px 1px 1px rgb(0, 0, 0);
  }
  .input-field input::-webkit-inner-spin-button,
  .input-field input::-webkit-outer-spin-button {
	display: none;
  }
  #otp button {
	margin-top: 25px;
	width: 100%;
	color: black;
	font-size: 1rem;
	border: none;
	padding: 9px 0;
	cursor: pointer;
	border-radius: 6px;
	pointer-events: none;
	background: #e9dc4e;
	transition: all 0.2s ease;
  }
  #otp button.active {
	background: #FFEA00;
	pointer-events: auto;
  }
  #otp button:nth-of-type(1):hover {
	background: rgb(174, 255, 0);
  }
  #otp button:nth-of-type(2):hover {
	background: red;
  }
  
  #cancel{
	background: #dbcb16;
	pointer-events: auto;
  }

#checkout{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
#checkout>div{
    display: flex;
	width: 50%;
    flex-direction: column;
    gap: 10px;
    padding: 40px;
    border: 2px solid black;
}
#checkout label{
    width: 100%;
    height: 100%;
    display: flex;
    gap: 10px;
	font-size: large;
	font-weight: bolder;
    justify-content: space-between;
    align-items: center;
}

#checkout>div>div input{
    width: 60%;
    height: 90%;
    padding: 5px;
    text-align: center;
}
#checkout>input{
    margin-top: 10px;
    width: 20%;
    height: 40px;
}



@media screen and (max-width: 1050px){
	.otp-container{
		grid-gap: 5rem;
	}
}

@media screen and (max-width: 1000px){
	#otp{
		width: 290px;
	}
	.img img{
		width: 400px;
	}
}

@media screen and (max-width: 900px){
	.otp-container{
		grid-template-columns: 1fr;
	}

	.img{
		display: none;
	}

	.wave{
		display: none;
	}
}